* {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
}

#renderCanvas {
  height: 100%;
  width: 100%;
}

#startOG {
  position: absolute;
  top: 70vh;
  z-index: 1;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 2mm ridge rgba(255, 250, 250, 0.938);
}

#startOG:hover {
  transform: scale(1.2);
}

#gameButtons {
  display: none;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#gameButtons > button {
  background-color: transparent;
  color: white;
  font-size: large;
  font-weight: bold;
  border: 1mm ridge rgba(255, 250, 250, 0.938);
  z-index: 1;
  width: fit-content;
  display: inline-block;
  pointer-events: auto;
}

#gameButtons > button:hover {
  transform: scale(1.2);
  color: red;
}

@media screen and (max-width: 425px) {
  #gameButtons > button {
    margin-right: 5%;
    margin-top: 0.2%;
  }
}

@media screen and (max-width: 2560px) {
  #gameButtons > button {
    margin-right: 2%;
    margin-top: 0.2%;
  }
}
