* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-columns: 10vw auto 15vw;
  grid-template-rows: 50vh 50vh;
}

#renderCanvas {
  height: 100%;
  width: 100%;
  display: none;
  grid-column: 2/3;
  grid-row: 1/3;
  border-width: 5px;
  border-style: ridge;
  border-color: #2a0623;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #adb6b5;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/3;
  border-width: 5px;
  border-style: outset;
  border-color: #dfdee7;
}

.navbar > button {
  width: 100%;
  margin-top: 10%;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: lightskyblue;
  color: black;
  height: 50px;
  border-width: 5px;
  border-style: inset;
  border-color: #eea9cd;
}

.navbar > button:hover {
  background-color: #22568f;
  color: white;
  font-weight: 800;
}

.navbar > img {
  width: 100%;
  border-width: 10px;
  border-style: ridge;
  border-color: rgb(221, 218, 214);
}

.navbar > #home {
  margin-top: 2px;
}

.game-settings {
  /* display: none; */
  margin-top: 20%;
}

.middle-content {
  background-image: url("/assets/chess-background.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 1/3;
  text-align: center;
}

#intro {
  margin-top: 5%;
  color: rgb(226, 16, 135);
  font-size: 1.6rem;
  text-shadow: -1px -1px 0px rgb(41, 143, 184);
  text-shadow: 1px 1px 0px rgb(65, 187, 235);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#intro2 {
  margin-top: 10%;
}

.game-history {
  background-color: red;
  grid-column: 3/4;
  grid-row: 1/2;
  border-width: 5px;
  border-style: outset;
  border-color: #dfdee7;
}

.ui-settings {
  background-color: hotpink;
  grid-row: 2/3;
  grid-column: 3/4;
  border-width: 5px;
  border-style: outset;
  border-color: #dfdee7;
}
