/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
* {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

canvas {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

#playButton {
  position: absolute;
  z-index: 1;
  top: 64vh;
  left: 50vw;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 1mm ridge whitesmoke;
  transform: translateX(-50%);
}

#playButton:hover {
  color: blue;
  background-color: whitesmoke;
}

/* Game Options Modal */
#gameOptionsScreen {
  position: absolute;
  display: inline;
  height: 100px;
  width: 100px;
  z-index: 3;
  background-image: url(12a515cf977bfbfdac69.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: fantasy;
}

#gameOptionsTitle {
  font-size: larger;
  background-color: red;
}

#gameOptionsTeamsText {
  background-color: rgba(255, 0, 0, 0.5);
}

#gameOptionsTimerText {
  background-color: rgba(255, 0, 0, 0.5);
}

#gameOptionsInviteCode {
  background-color: rgba(255, 0, 0, 0.5);
}

#gameOptionsInviteCode > p {
  background-color: rgba(251, 255, 0, 0.835);
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/component/side-nav.css ***!
  \******************************************************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  display: block;
  top: 0;
  font-size: 2.25rem;
  margin-left: 65%;
}

div.category {
  color: white;
  border-bottom: 1mm outset whitesmoke;
  text-align: center;
}

.open {
  width: 250px;
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/component/loading-screen.css ***!
  \************************************************************************************/
#loading {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
}

#loading > p {
  color: white;
  text-align: center;
  line-height: 100vh;
  font-size: xx-large;
  font-family: fantasy;
  animation: loadingAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnimation {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.2;
  }
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/component/game-overlay.css ***!
  \**********************************************************************************/
.gameOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: transparent;
  text-align: center;
  pointer-events: none;
}

.gameOverlay > .item {
  color: black;
  background-color: rgba(245, 245, 245, 0.5);
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 0.1rem white solid;
  padding: 0.4rem;
  pointer-events: auto;
}

.gameOverlay > .item > img {
  display: block;
  height: 60%;
  object-fit: contain;
  margin: auto;
  pointer-events: none;
}

.gameOverlay > .item:hover {
  transform: scale(0.9);
}


/*# sourceMappingURL=main.css.map*/