.input-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.input-wrapper .message {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(30, 143, 255, 0.7), rgba(0, 0, 0, 1));
  text-align: center;
  border: 0.25rem inset whitesmoke;
  color: black;
  /* overflow-y: auto; */
}

.message input {
  display: block;
  width: 100%;
  margin: 0 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.message .text {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.685);
  margin: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.75rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.message button {
  color: black;
  font-size: 2rem;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
  border: 0.25rem solid black;
}

.message button:hover {
  transform: scale(0.9);
  background-color: rgb(238, 224, 153);
}

.message .confirm {
  background-color: rgba(0, 255, 0, 0.7);
}

.message .reject {
  background-color: rgba(255, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {
  .input-wrapper .message {
    height: 50%;
    width: 50%;
  }
  .message .text {
    font-size: 2rem;
  }
}
