.match-settings-modal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.gameOptionsScreen {
  height: 80%;
  width: 80%;
  z-index: 2;
  background-image: url("/assets/options-background.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  border: 0.5rem ridge whitesmoke;
  color: black;
  overflow-y: auto;
}

.gameOptionsScreen > .title {
  font-size: 2.5rem;
  background-color: rgba(30, 143, 255, 0.8);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.25rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.gameOptionsScreen > .subsection {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.gameOptionsScreen > .subsection > p {
  background-color: rgba(30, 143, 255, 0.486);
  font-size: 1.25rem;
  border: 2px inset black;
}

.gameOptionsScreen > .closeBtn {
  display: inline-block;
  color: white;
  font-size: 2.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  border-radius: 1rem;
  border: 0.15rem solid black;
  margin-top: 0.5rem;
}

.gameOptionsScreen > .closeBtn:hover {
  color: red;
  background-color: rgba(245, 245, 245, 0.8);
}

.option {
  display: block;
  margin: 0.5rem;
  border: 0.1rem solid black;
  padding: 0.5rem;
}

.highlighted {
  background-color: rgba(0, 255, 0, 0.5);
}

.confirmButton {
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: larger;
  font-weight: bolder;
  border: 1mm ridge whitesmoke;
  border-radius: 5rem;
  border: 0.15rem solid black;
  padding: 1rem 1rem;
}

.confirmButton:hover {
  color: black;
  background-color: rgba(240, 230, 95, 0.5);
}

#inviteCode {
  font-weight: bolder;
  margin: 1rem;
  border: 0.2rem solid black;
}

.gameOptionsScreen .slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: 0.2rem solid blue;
  margin: 1rem;
}

.time-display {
  font-size: 1.5rem;
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .gameOptionsScreen {
    height: 80%;
    width: 50%;
  }
  #InviteCode {
    height: 80%;
    width: 50%;
  }
}
