button {
  position: absolute;
  top: 64vh;
  z-index: 1;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 1mm ridge whitesmoke;
}

button:hover {
  transform: scale(1.2);
  color: red;
}
