.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 3;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav button {
  padding: 8px 8px 8px 32px;
  font-size: 1.5rem;
  color: #818181;
  background-color: transparent;
  border: none;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  display: block;
  top: 0;
  font-size: 2.25rem;
  margin-left: 75%;
  color: white;
}

.category {
  text-decoration: underline;
}
