* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --primary-background: #333333;
  --primary-color: #e9e9e9;
  --primary-alt-color: #8b8b8b;
  --primary-font: sans-serif;
}
#root {
  height: 100%;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

#app {
  height: 100%;
}

.screen {
  width: 100%;
  height: 100%;
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto; */
}

.gameCanvas {
  display: block;
}

.displayCanvas {
  position: absolute;
  top: 0;
  z-index: -1;
  touch-action: none;
  pointer-events: none;
}

/* Loading */
.loading {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
}

.loading > p {
  color: white;
  font-size: 2em;
  letter-spacing: 0.5em;
  font-family: fantasy;
  animation: loadingAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnimation {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.2;
  }
}
/* Home Screen-------------------  */

.home {
  position: fixed;
  height: 100%;
  background-color: transparent;
}

/* Game Overlay-------------------  */
.menu-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  min-width: 300px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 3.5rem;
  background-color: transparent;
  text-align: center;
  pointer-events: none;
}

.menu-overlay > .item {
  color: black;
  background-color: rgba(245, 245, 245, 0.5);
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 0.1rem white solid;
  padding: 0.1rem;
  font-size: 0.9rem;
  pointer-events: auto;
  min-width: 70px;
  flex-grow: 1;
}

.menu-overlay > .item > img {
  display: block;
  height: 60%;
  object-fit: contain;
  margin: auto;
  pointer-events: none;
  background-color: transparent;
}

.menu-overlay > .item:hover {
  transform: scale(0.95);
  background-color: gainsboro;
}

.timer {
  position: absolute;
  display: flex;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-around;
  text-align: center;
  bottom: 0;
}

.playerTimer {
  flex-grow: 1;
  max-width: 30%;
}

.active-player {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flash {
  from {
    background-color: rgba(255, 0, 0, 1);
  }
  to {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.timer > .playerTimer > img {
  height: 1.8rem;
  object-fit: contain;
  display: inline;
  padding: 0 0.2rem;
  background-color: transparent;
}

.timer > .playerTimer > div {
  background-color: transparent;
  color: black;
  display: inline-block;
  padding: 0.1rem;
  font-weight: bold;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Promotion Modal-------------------  */
.promotion-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 3;
}

.promotion-wrapper .selection {
  width: 50%;
}

.selections p {
  font-size: 1.5em;
  padding: 0.3em 0.1em;
  padding-bottom: 2em;
}

.red {
  background-color: red;
  background-image: url(../assets/promotion-choices/rook-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.blue {
  background-color: blue;
  background-image: url(../assets/promotion-choices/bishop-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.green {
  background-color: green;
  background-image: url(../assets/promotion-choices/knight-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.yellow {
  background-color: yellow;
  background-image: url(../assets/promotion-choices/queen-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*  -------------------  */
