* {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

canvas {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

#playButton {
  position: absolute;
  z-index: 1;
  top: 64vh;
  left: 50vw;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 1mm ridge whitesmoke;
  transform: translateX(-50%);
}

#playButton:hover {
  color: blue;
  background-color: whitesmoke;
}

/* #gameOverlay {
  display: none;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#gameOverlay > button {
  background-color: transparent;
  color: white;
  font-size: large;
  font-weight: bold;
  border: 1mm ridge rgba(255, 250, 250, 0.938);
  z-index: 1;
  width: fit-content;
  display: inline-block;
  pointer-events: auto;
}

#gameOverlay > button:hover {
  transform: scale(1.2);
  color: red;
}

#timer {
  display: flex;
  background-color: rgba(83, 125, 160, 0.561);
  position: absolute;
  right: 1%;
  z-index: 1;
}

#timer > div {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

#timer > div > img {
  height: 30px;
  display: inline-block;
  object-fit: contain;
}

#timer > button {
  pointer-events: initial;
  background-color: transparent;
  color: white;
  border: 1mm ridge rgba(146, 143, 143, 0.938);
}

/* Game Options Modal */
/* #gameOptionsScreen {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  position: absolute;
  background-image: url("/assets/options-background.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: fantasy;
}

#gameOptionsTitle {
  font-size: larger;
  background-color: red;
}

#gameOptionsTeamsText {
  background-color: rgba(255, 0, 0, 0.5);
  margin-left: 15%;
  margin-right: 15%;
}

#gameOptionsTeamsBlack {
  margin-left: 5%;
}

#gameOptionsConfirmation {
}

#gameOptionsTimerText {
  background-color: rgba(255, 0, 0, 0.5);
  margin-left: 15%;
  margin-right: 15%;
}

#gameOptionsTimer > input {
  margin-left: 5%;
}

#gameOptionsInviteCode {
  background-color: rgba(255, 0, 0, 0.5);
}

#gameOptionsInviteCode > p {
  background-color: rgba(251, 255, 0, 0.835);
  margin-left: 20%;
  margin-right: 20%;
}

#exitButton {
  position: fixed;
  right: 1%;
  top: 1%;
  width: 20px;
  height: 20px;
  background-color: red;
}

@media screen and (max-width: 320px) {
  #gameOverlay > button {
    margin-right: 1%;
    margin-top: 0.2%;
  }

  #timer {
    display: block;
  }

  #timer > div {
    display: inline-block;
  }
}

@media screen and (min-width: 375px) {
  #gameOverlay > button {
    margin-right: 1%;
    margin-top: 0.2%;
  }
}

@media screen and (min-width: 426px) {
  #gameOverlay > button {
    margin-right: 2%;
    margin-top: 0.2%;
  }
} */
