* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.app > * {
  pointer-events: all;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

#playButton {
  position: absolute;
  z-index: 1;
  top: 64vh;
  left: 50vw;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 1mm ridge whitesmoke;
  transform: translateX(-50%);
  border-radius: 2rem;
}

#playButton:hover {
  color: blue;
  background-color: whitesmoke;
}
