@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark-opaque: rgba(0, 0, 0, 0.6);
  --primary-light-opaque: rgba(255, 255, 255, 0.7);
}

.glass {
  backdrop-filter: blur(5px);
  border-radius: 10px;
  &.light-pane {
    background: var(--primary-light-opaque);
  }
  &.dark-pane {
    background: var(--primary-dark-opaque);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

/* Loading */
.loading {
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > p {
  color: white;
  font-size: 2em;
  letter-spacing: 0.5em;
  animation: loadingAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnimation {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.2;
  }
}

.slider {
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  color: black;
  border: none;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: url("~../../../../assets/icons/clock.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: url("~../../../../assets/icons/clock.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  border: none;
}
