@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
}

:root {
  --primary-background: #333333;
  --primary-color: #e9e9e9;
  --primary-alt-color: #8b8b8b;
  --primary-dark-opaque: rgba(0, 0, 0, 0.6);
  --primary-light-opaque: rgba(255, 255, 255, 0.6);
  --green-highlight: rgba(0, 255, 0, 0.5);
  --red-highlight: rgba(255, 0, 0, 0.5);
  --gold: #ffd700;
}

#root {
  color: var(--primary-color);
  height: 100dvh;
  width: 100dvw;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

canvas {
  position: fixed;
  z-index: 0;
  outline: none;
  height: 100%;
  width: 100%;
}

/* Loading */
.loading {
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > p {
  color: white;
  font-size: 2em;
  letter-spacing: 0.5em;
  animation: loadingAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnimation {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.2;
  }
}
/* Home Screen-------------------  */
.header {
  user-select: none;
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
  width: 95%;
  margin: 1em;

  > h1 {
    display: inline-block;
  }

  .title {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 0.5em;
  }

  .description {
    font-style: italic;
    font-size: 1.25em;
    padding-bottom: 0.5em;
  }
  .icons {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

.sub-title {
  text-align: center;
  margin: 0.1em auto;
  padding: 0.25em;
  max-width: clamp(250px, 80vw, 500px);
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.btn {
  display: block;
  width: 350px;
  max-width: 85vw;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0.5px white;
  color: black;
  font-style: italic;
  font-family: inherit;
  font-weight: bold;
  font-size: 40px;
  padding: 0.25em 0em;
  text-decoration: none;
  user-select: none;
  &:hover {
    box-shadow: 0px 0px 5px 0.5px lightblue;
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.glass-light {
  background: var(--primary-light-opaque);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.glass-dark {
  background: var(--primary-dark-opaque);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.svg-icon {
  background-color: white;
  border-radius: 8px;
  &:hover {
    opacity: 0.8;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-align-end {
  flex-grow: 1;
  align-content: flex-end;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.grow-1 {
  flex-grow: 1;
}

#divider {
  transform: scale(0.5);
  user-select: none;
  pointer-events: none;
  cursor: none;
  -webkit-user-drag: none;
}

/* Game Overlay-------------------  */
.menu-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  min-width: 300px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 3.5rem;
  background-color: transparent;
  text-align: center;
  pointer-events: none;
}

.menu-overlay > .item {
  color: black;
  background-color: rgba(245, 245, 245, 0.5);
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 0.1rem white solid;
  padding: 0.1rem;
  font-size: 0.9rem;
  pointer-events: auto;
  min-width: 70px;
  flex-grow: 1;
}

.menu-overlay > .item > img {
  display: block;
  height: 60%;
  object-fit: contain;
  margin: auto;
  pointer-events: none;
  background-color: transparent;
}

.menu-overlay > .item:hover {
  background-color: gainsboro;
}

.timer {
  position: absolute;
  display: flex;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-around;
  text-align: center;
  bottom: 0;
  z-index: 1;
}

.playerTimer {
  flex-grow: 1;
  max-width: 30%;
}

.active-player {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flash {
  from {
    background-color: rgba(255, 0, 0, 1);
  }
  to {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.timer > .playerTimer > img {
  height: 1.8rem;
  object-fit: contain;
  display: inline;
  padding: 0 0.2rem;
  background-color: transparent;
}

.timer > .playerTimer > div {
  background-color: transparent;
  color: black;
  display: inline-block;
  padding: 0.1rem;
  font-weight: bold;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Message Request -------------------  */
.message-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  z-index: 3;
}

.message-wrapper .message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(30, 143, 255, 0.7), rgba(0, 0, 0, 1));
  text-align: center;
  border: 0.25rem inset whitesmoke;
  color: black;
}

.message .text {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.685);
  margin: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.message button {
  color: black;
  font-size: 1.75rem;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
  border: 0.25rem solid black;
}

.message button:hover {
  background-color: rgb(238, 224, 153);
}

.message .confirm {
  background-color: rgba(0, 255, 0, 0.7);
}

.message .reject {
  background-color: rgba(255, 0, 0, 0.7);
}

/* Promotion Modal-------------------  */
.promotion-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 3;
}

.promotion-wrapper .selection {
  width: 50%;
}

.red {
  background-color: red;
  background-image: url(../../assets/promotion-choices/rook-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.blue {
  background-color: blue;
  background-image: url(../../assets/promotion-choices/bishop-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.green {
  background-color: green;
  background-image: url(../../assets/promotion-choices/knight-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.yellow {
  background-color: yellow;
  background-image: url(../../assets/promotion-choices/queen-choice.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* -------------------  */
/* Lobby */
.lobby-content {
  overflow-y: scroll;
  width: 100%;
}

.lobby-content .options-wrapper {
  margin: auto;
}

.lobby-code p {
  text-align: center;
  margin: 1em auto;
}

.lobby-code span {
  font-size: 1.2em;
  padding: 0.5em;
  background-color: #333333;
  border-radius: 0.25em;
}

.lobby-code span:hover {
  background-color: #444444;
  cursor: pointer;
}

#join-lobby button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  border: 1.5px solid var(--primary-background);
}

#join-lobby-input {
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em 0;
  text-align: center;
  border: 1px solid black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border: 3px solid var(--primary-alt-color);
}

#join-lobby-input::placeholder {
  user-select: none;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 0.5em;
  background-color: var(--primary-background);
  pointer-events: none;
  user-select: none;
}

input[type="radio"]:checked + label {
  color: rgba(0, 255, 0, 0.5);
}

.ready {
  font-weight: bold;
  padding: 0.5em;
  font-size: 1.5em;
  margin: 0.5em auto;
  border: 1px solid whitesmoke;
  border-radius: 0.5em;
  background-color: var(--primary-background);
  width: 200px;
  text-align: center;
}

.ready > * {
  margin: 0 0.25em;
}

.ready label {
  display: inline-block;
  width: 100%;
}

.ready:has(input[type="checkbox"]:checked) {
  background-color: var(--green-highlight);
}

.ready:has(input[type="checkbox"]:not(:checked)) {
  background-color: var(--red-highlight);
}

.ready:has(input[type="checkbox"]:disabled) {
  opacity: 0.5;
}

.options-wrapper {
  max-width: clamp(250px, 75vw, 400px);
}

.options-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid whitesmoke;
  border-radius: 1em;
  background: var(--primary-background);
}

.options-wrapper div input {
  margin-left: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 25%;
  outline: none;
  transition: background-color 0.3s;
}

.options-wrapper div input:checked {
  background-color: var(--green-highlight);
}

.options-wrapper div input:not(:checked) {
  background-color: var(--red-highlight);
}

.options-wrapper div label {
  pointer-events: none;
  user-select: none;
}

.options-wrapper div label span {
  display: inline-block;
  width: 25px;
}

/* Highlights */
.green-highlight {
  color: var(--green-highlight);
}

.red-highlight {
  color: var(--red-highlight);
}

.team-symbol-background {
  border-radius: 50%;
  background-color: var(--primary-background);
  border: 2px solid var(--gold);
}

.gold-switch {
  border-radius: 50%;
  border: 2px solid var(--gold);
  background-color: var(--primary-background);
  padding-right: 0.2em;
}

.gold-switch path {
  stroke: var(--gold);
}

/* Margins */
.mgn-1 {
  margin: 1em auto;
}

.mt-1 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 3em;
}

.no-top-br-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
}

.bottom-right {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.h-100 {
  height: 100%;
}

.pb-1 {
  padding: 1em;
}
